<div id="adventure-content">
    <h2>latest adventures</h2>
    <div id="canoe">
        <h3>getting back to nature in a canoe</h3>
        <input type="submit" value="read more" class="button">
    </div>
    <div id="beach">
        <h3>a night with friends at the beach</h3>
        <input type="submit" value="read more" class="button">
    </div>
    <div id="mountain">
        <h3>taking in the view at big mountain</h3>
        <input type="submit" value="read more" class="button">
    </div>
    <div id="sky">
        <h3>star-gazing at the night sky</h3>
        <input type="submit" value="read more" class="button">
    </div>
    <input type="submit" id="more-adventure" value="more adventures" class="button">
</div>