.bannerimg{
    display: flex;
    justify-content: center;
    align-items: center;
    background:url("./images/inhabitent-logo-full.svg")no-repeat center, linear-gradient(rgba(0,0,0,0.3),transparent), url("/images/home-hero.jpg") no-repeat;
    background-size:35% 35%,cover,cover;
    min-height: 100vh;
}