#footer-content h4{
    color: #d99054;
    font-family: novo, helvetica, sans-serif;
}

#footer-content p{
    color: #fff;
}

#footer-content h4,h5{
    font-size: 16px;
}

#footer-content h5{
    font-family: novo, helvetica, sans-serif
}

