<div id="footer-content">
    <div>
        <h4>contact info</h4>
        <p><i class="fa fa-envelope-o"></i> info@inhabitent.com</p>
        <p><i class="fa fa-phone"></i> 778-456-7891</p>
        <ul class="social-icons">
            <li><i class="fa fa-facebook-square"></i></li>
            <li><i class="fa fa-twitter-square"></i></li>
            <li><i class="fa fa-google-plus-square"></i></li>
        </ul>
    </div>
    <div>
        <a href="routerLink='/newblog'">add new post</a>
    </div>
    <div>
        <h4>business hours</h4>
        <p><strong>Monday-Friday:</strong>9am to 5pm</p>
        <p><strong>Saturday:</strong>10am to 2pm</p>
        <p><strong>Sunday:</strong>closed</p>
    </div>
    <img id="footer=logo" src="images/logos/inhabitent-logo-text.svg">
    <div>
        <h5>&copy; 2016 inhabitent</h5>
    </div>
</div>