<div id="shop-content">
    <h2>shop stuff</h2>
    <div id="do">
        <img>
        <p>Get back to nature with all the toold and toys you need to enjoy the great outdoors</p>
        <input type="submit" id="do-stuff" value="do stuff" class="button">
    </div>
    <div id="eat">
        <img>
        <p>Nothing beats food cooked over a fire. We have all you need for good camping eats.</p>
        <input type="submit" id="eat-stuff" value="eat stuff" class="button">
    </div>
    <div id="sleep">
        <img>
        <p>Get a good night's rest in the wild in a home away from home that travels well.</p>
        <input type="submit" id="sleep-stuff" value="sleep stuff" class="button">
    </div>
    <div id="wear">
        <img>
        <p>From flannel shirts to toques, look the part while roughing it in the great outdoors.</p>
        <input type="submit" id="wear-stuff" value="wear stuff" class="button">
    </div>å
</div>