#shop-content .button{
    color:#fff;
    background-color: #248A83;
    border: outset 1px;
}

shop .border{
    border: 1px solid #a1a1a1;
}

.shopbox{
    width: 25%;
    border-top: 2px solid #a1a1a1;
}