@font-face {
    font-family: merri;
    src: url(../fonts/Merriweather/Merriweather-Light.ttf);
}

@font-face {
    font-family: novo;
    src: url(../fonts/Novecento/Novecentosanswide-Normal.ttf);
    src: url(../fonts/Novecento/Novecentosanswide-DemiBold.ttf);
}

body{
  margin:0;
}

h2,h3,h4,h5,h6{
    line-height:1.75;
    color: #404040;
    text-transform: uppercase;
}

h2{
    font-family: novo, helvetica, sans-serif;
    color: #000;
}

h3{
    font-family: merri, serif;
    color: #fff;
    font-size: 2.5rem;
}

.button{
    line-height: 2.5;
    text-transform: uppercase;
    margin:2em;
    font-family: novo, helvetica, sans-serif;
    font-size: 16px;
    border: solid 1px;
}

p{
    font-size:16px;
    line-height: 1.75;
    font-family: merri;
}

a {
    text-decoration: none;
}

a:visited{
    color: #fff;
}
